* {
  font-family: Consolas, monospace;
  font-size: 20px;
  font-weight: bold;
}

/* CSS-styles for elements */

body {
  background-color: darkslategray;
}

main {
  display: flex;
  width: 700px;
  height: 600px;
  margin: 20px auto;
  background-color: darkslategray;
  color: white;
}

canvas {
  width: 300px;
  height: 600px;
  border: 2px solid white;
  image-rendering: pixelated;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}


/* CSS-styles for classes */

.control-panel {
  display: flex;
  justify-content: space-between;
  width: 75px;
  cursor: pointer;
}

aside.vertical-order {
  width: 200px;
  flex-direction: column;
  justify-content: space-between;
}

.tile {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 2px solid white;
}
